<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="..//public/css/style.css">
    <script src="https://kit.fontawesome.com/97aa073c0a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--logo -->
        <img src="../public/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">


        <!-- barra de busqueda -->
        <form action="">
            <input type="text" name="busqueda" placeholder="Buscar productos,Marcas">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <br>
        <!-- cuotas -->
         <div id="cuotas">
            <i class="fa-solid fa-hand-holding-dollar"></i>
             Comprá en cuotas y sin tarjeta de credito
        </div>
        <!-- barra de nav -->
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul><br>
            <ul>
                <li><a href="#">Creá tu Cuenta </a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresa </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis Compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <br>

        <div class="burger-menu" >
            <i class="fas fa-bars fa-xl"></i>
            </div>
       

    </header>
    
<!-- banner -->

    <img src="..//public/images/img-home-banner.jpg" alt="Banner" height="100%" width="100%" id="banner">
    <main>
         
        <!-- Ultima visita -->
            <h3>basado en tu ultima visita</h3>

            
            <!-- cafetera -->
                <div class="articulo">
                <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" height="100%" width="100%">
                $6.770 <br>
                40% OFF <br>
                Cafetera Moulinex <br>
                </div>
    
                
                <!-- macBook -->
    
                <div class="articulo">
                <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook" height="100%" width="100%">
                $230.000 <br>
                20% off <br>
                MacBook Pro 2019
                </div>
    
                <!-- Samgumg Galaxy -->
                <div class="articulo">
                <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="MacBook" height="100%" width="100%">
                $70.500 <br>
                10% off <br>
                Samsung Galaxy S10
                </div>
    
                <!-- SmartTV -->
                <div class="articulo">
                <img src="../public/images/img-tv-samsung-smart.jpg" alt="MacBook" height="100%" width="100%">
                $23.200 <br>
                5% off <br>
                SmartTv Samsung 43
                </div>
    

        </section>

        <!-- Ofertas -->

        <section>

            <h3>Ofertas</h3>


            <!-- cafetera -->
            <div class="articulo">
            <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" height="100%" width="100%">
            $6.770 <br>
            40% OFF <br>
            Cafetera Moulinex> <br>
            </div>

            
            <!-- macBook -->

            <div class="articulo">
            <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook" height="100%" width="100%">
            $230.000 <br>
            20% off <br>
            MacBook Pro 2019
            </div>

            <!-- Samgumg Galaxy -->
            <div class="articulo">
            <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="MacBook" height="100%" width="100%">
            $70.500 <br>
            10% off <br>
            Samsung Galaxy S10
            </div>

            <!-- SmartTV -->
            <div class="articulo">
            <img src="../public/images/img-tv-samsung-smart.jpg" alt="MacBook" height="100%" width="100%">
            $23.200 <br>
            5% off <br>
            SmartTv Samsung 43"
            </div>

        </section>

    </main>
    <br>


    <!-- footer -->
    <footer>
        <!-- tarjeta o efectivo -->
    <center>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl"></i><br>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <!-- envio -->

        <section>
            <i class="fa-solid fa-gift fa-2xl"></i><br>
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <!-- seguridad -->
        <section>
            <i class="fa-solid fa-user-shield fa-2xl"></i><br>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section><br>
    </center>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
    </footer>
</body>

</html>