<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <script src="https://kit.fontawesome.com/97aa073c0a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--logo -->

        <div id="busqueda-logo">
            <div class="half-width">
                <img src="../public/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
        
            <!-- barra de busqueda -->
            <div class="half-width">
                <form action="">
                    <input type="text" name="busqueda" placeholder="Buscar productos, Marcas">
                    <button type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
        <!-- cuotas -->
        
            <div id="cuotas">
            <i class="fa-solid fa-hand-holding-dollar"></i>
             Comprá en cuotas y sin tarjeta de credito
        </div>
       
        <!-- barra de nav -->
        <nav class="navbar">

            <div id="ayudas">
                <p><a href="#">Ofertas</a></p>
                <p><a href="#">Tiendas Oficiales</a></p>
                <p><a href="#">Vender</a></p>
                <p><a href="#">Ayuda</a></p>
             </div>   
             <div id="cuenta">
                <p><a href="#">Creá tu Cuenta </a><i class="fa-solid fa-id-card"></i></p>
                <p><a href="#">Ingresa </a><i class="fa-solid fa-right-to-bracket"></i></p>
                <p><a href="#">Mis Compras </a><i class="fa-solid fa-basket-shopping"></i></p>
            </div>
        </nav>
        <br>

        <div class="burger-menu" >
            <i class="fas fa-bars fa-xl"></i>
            </div>
       

    </header>



    <!-- Main -->
    <main>
        <form action="../views/home.html" method="post">
            <input type="text" placeholder="Nombre de Usuario">
            <input type="password" placeholder="Contraseña">
            <input type="submit" id="enviar">
        </form>
    
    </main>





    <!-- footer -->
    <footer>
        <!-- tarjeta o efectivo -->
    <center>
        <section>
            <i class="fa-solid fa-credit-card fa-2xl"></i><br>
            <strong>Pagá con tarjeta o en efectivo</strong>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <!-- envio -->

        <section>
            <i class="fa-solid fa-gift fa-2xl"></i><br>
            <strong>Envío gratis desde $ 2.500</strong>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <!-- seguridad -->
        <section>
            <i class="fa-solid fa-user-shield fa-2xl"></i><br>
            <strong>Seguridad, de principio a fin</strong>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section><br>
    </center>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
    </footer>
</body>
</html>